
/* Blog listing page css */


.feature-blogs-details .wpcf7 {
          background: #f0f0f0;
    padding: 0px 20px 0px 20px;
  }
  
.form-title-blog{
      background: #f0f0f0;
      padding: 0 20px;
      margin-block: -12px;

}
.form-title-blog-h{
    padding-top:20px;
}

@media(max-width:1440px){
    .form-title-blog-h {
    padding-top: 10px;
}

}



.form-title-blog-p{
    padding-bottom:5px;
}
.feature-blogs-details form p{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Gilroy-semiBold';
    font-weight: 400;
 }

.blog-listing-sect  .fusion-button[data-hover=underline] .fusion-button-text {
    position: relative;
    display: flex;
    padding: 10px 20px;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--CTA-Color, #198FD9);
} 

.blog-listing-sect .fusion-button[data-hover="underline"]:hover .fusion-button-text {
    background: #196fa4;
}

.blog-listing-sect .fusion-post-cards .fusion-filters {
font-weight: 600;
font-style: Gilroy-Bold;
padding-left:20px;
}

  .blog-list-title-bnr{
   font-family:Gilroy-Bold;
  }
  
 
  
  @media (max-width: 768px) {
    .form-title-blog{
        font-size:22px;
  }
  }
  
  .feature-blogs-details .fusion-recent-posts .recent-posts-content {
      display:flex;
     flex-direction: column;
     flex:1;
  }
    .feature-blogs-details .fusion-recent-posts .recent-posts-content p{
        font-family: Gilroy-Medium;
         display: -webkit-box;
      -webkit-line-clamp: 2;   /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    
    @media(max-width:1680px){
        .feature-blogs-details .fusion-recent-posts .recent-posts-content p{
          margin-bottom: 7px;  
        }
        #main .blogContentList1 .feature-blogs-details .wpcf7{
    padding: 0px 20px 0px 20px;
}
    }
  
  .feature-blogs-details .fusion-recent-posts .columns .column .entry-title {
      order:2;
      font-family: 'Gilroy-bold';
      font-weight: 400;
       display: -webkit-box;
      -webkit-line-clamp: 2;   /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  } 
  
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column .meta {
    order:1;
    line-height: 1;
}
  
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p:last-child{
    font-size: 16px;
  }
  
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p {
    /*margin-left: 160px;*/
    order:3;
    font-weight: 400;
    line-height: normal;
}

   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p span{
       color: #00000080;
       font-family: 'Gilroy-Regular';
   }
    .feature-blogs-details .form-title-blog .post-content p{
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Gilroy-bold';
    font-weight: 400;
}
 .feature-blogs-details .wpcf7-form p:nth-of-type(7) .wpcf7-not-valid-tip{
     bottom:-50px;
 }
 .feature-blogs-details .wpcf7-form .wpcf7-submit{
     margin-top:10px;
 }
 
  @media(max-width:1253px){
     .feature-blogs-details .wpcf7-form .wpcf7-submit{
     margin-top:0px;
 }
  }

  @media(max-width:650px){
    .feature-blogs-details.fusion-recent-posts.layout-thumbnails-on-side .columns .column p {
        margin-left: unset;
    }
  }
  
  
  .blog-listing-sect .pagination .current{
      border-radius: 5px; 
      background:  #198FD9;
      outline: none;
      border: none;
      cursor:pointer;
      padding: 20px 23px;
      font-size: 20px;
      font-family: 'Gilroy-bold';
  }
  
   .blog-listing-sect .pagination .current:hover {
    background: #196fa4;
      cursor:pointer;
}

  .blog-listing-sect .pagination .inactive{
     border-radius: 5px;
     background: white;
     padding: 20px 23px;
     font-size: 20px;
     font-family: 'Gilroy-bold';
 }
 
  .blog-listing-sect .pagination .inactive.current:hover {
     border-radius: 5px;
 }
 
 .blog-listing-sect div.fusion-meta-tb span.fusion-tb-categories{
    border-radius: 30px;
    line-height: 1;
    background: #F0F0F0;
    border:none;
    width: fit-content;
    padding: 10px 15px;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    font-weight: 400;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-meta-tb span {
    font-family: 'Gilroy-Bold';
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .blog-meta-date span{
    font-family: 'Gilroy-Regular';
    padding-bottom:10px;
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
    font-family: 'Gilroy-Regular';
    font-size:20px;
    line-height:1.4;
    /*padding-top:10px;*/
    font-weight:500;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width:650px){
    .blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
          -webkit-line-clamp: 4;
    }
}

@media(max-width:1680px){
   
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-meta-tb {
    border: none;
    padding-top:10px;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper a .fusion-button-text {
      font-family: 'Gilroy-bold';
      font-weight:400;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-title{
    padding-bottom: 5px;
  
}

 .blog-listing-sect .connect-blog-title{
    font-family: Gilroy-Bold;
    margin: 0px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400!important;
    min-height: 50px !important;
    display: -webkit-box;
  -webkit-line-clamp: 2;  /* Clamp to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-listing-sect .fusion-post-cards ul li .wp-post-image{
    width: 100% !important;
}

.feature-blogs-details .wpcf7-form.invalid .wpcf7-response-output{
     display:none;
 }
 
 
/*.feature-blogs-details .flexslider .slides img {*/
/*    width: 120px;*/
/*}*/
 
 .feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip {
     position: absolute;
    left: 0;
    bottom: -33px;
    font-size: 14px;
 }
 
 .feature-blogs-details .wpcf7-form .wpcf7-text {
     margin-bottom:0px ;
     height: 47px;
     border-color: #f2f3f5;
 }
.feature-blogs-details .wpcf7-form textarea{
     margin-bottom:0px ;
     
}
.feature-blogs-details article .floated-slideshow {
   width: 100% !important;
    margin: 0 !important;
    flex: 0 0 25%;
}
.feature-blogs-details article{
    display: flex;
    gap:30px;
}

.blog-listing-sect .fusion-filters{
    margin-bottom: 40px;
    margin-top: 0;
}

.blog-listing-sect .fusion-post-cards .fusion-filters li a{
    font-size:24px;
     font-family:'Gilroy-Bold';
     font-weight: 400;
}

@media(max-width:650px){
    .blog-listing-sect .fusion-post-cards .fusion-filters li a{
    font-size:20px;
   
}
}


.blog-listing-sect .fusion-title .fusion-title-heading{
      min-height: 50px;
    display: -webkit-box;
  -webkit-line-clamp: 2;  /* Clamp to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.blog-listing-sect .fusion-show-pagination-text #bbpress-forums .bbp-pagination-links, .blog-listing-sect .pagination {
    /*align-items: center;*/
    justify-content: left;
     margin-left: 17px;
}
@media(max-width:650px){
   .blog-listing-sect .fusion-show-pagination-text #bbpress-forums .bbp-pagination-links, .fusion-show-pagination-text .pagination {
    align-items: center;
    justify-content: center!important;
    
}
   
}
    
@media(max-width:414px){
   .blog-listing-sect .fusion-title .fusion-title-heading{
      min-height: 40px;
    }
    
    .moulding-content .fusion-column-wrapper .epp-content-banner-2 p {
        margin-bottom:40px;
    }
}



/*resulution blog listion*/

@media (min-width: 1200px) and (max-width: 1450px) {
.feature-blogs-details article {
        gap: 10px;
}
.feature-blogs-details .fusion-recent-posts .recent-posts-content p{
    font-family: Gilroy-Medium;
    line-height: 20px !important;
    font-size: 14px !important;
}
.fusion-recent-posts.layout-thumbnails-on-side .columns .column .entry-title  {
    line-height: 20px;
    font-size: 14px;
}
.feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p span {
    font-size: 12px;
}

.feature-blogs-details .recent-posts-content p:last-child{
    margin-bottom: 0;
    line-height: normal !important;
}

.feature-blogs-details article .floated-slideshow {
    width: 70% !important;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .blog-meta-date span{
    font-size: 14px;
}

.blog-listing-sect .fusion-title .fusion-title-heading {
    font-size: 16px !important;
     min-height: unset;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
    font-size: 16px !important;

}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper a .fusion-button-text {
    font-size: 14px !important;
}
.form-title-blog-h p{
    font-size: 20px !important;
}

.form-title-blog-p {
    line-height: normal;
    font-size: 14px ;
}

.feature-blogs-details form p{
    font-size: 14px !important;
}

.feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip {
    font-size: 12px !important;
    bottom: -26px;
}

.feature-blogs-details .wpcf7-form .wpcf7-text{
    height: 30px;
}

.feature-blogs-details .wpcf7-form textarea{
    height: 60px !important;
}

.feature-blogs-details .wpcf7-form p:nth-of-type(7) .wpcf7-not-valid-tip {
    bottom: -39px !important;
}

 .feature-blogs-details .recent-post-title {
        font-size: 20px;
    }


}

@media only screen and (max-width: 1300px) {
    .blogContentList1{
        padding: 30px 50px 30px 50px !important;
    }
}



/*Mobile */

@media (max-width: 600px) {
     .feature-blogs-details .fusion-text {
        padding-top: 9px !important;
    }
     .feature-blogs-details .fusion-column-wrapper{
        padding: 10px;
    }
    
    .blog-listing-cards .fusion-grid{
       padding: 20px !important;
    }
      .blogBlockWrapper{
        padding-bottom: 160px !important;
    }
    .blogContentList1 {
        padding:unset !important;
    }
  
    .blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .blog-meta-date span {
    padding-bottom: 5px !important;
}
    
.blog-listing-sect .fusion-post-cards .fusion-filters {
    display: flex !important;
    gap: 5px;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
    font-size: 16px !important;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-title {
    padding: 0;
    margin: 0 !important;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p{
    height: auto !important;
    margin-bottom: 15px;
}

.feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p span {
    font-size: 11px !important;
}
.feature-blogs-details .fusion-recent-posts .columns .column .entry-title{
    font-size: 12.75px !important;
}
.feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p{
    font-size: 12.75px !important;
    line-height: normal;
    font-weight:500;
}

.form-title-blog-h {
    font-size: 20px !important;
}
.form-title-blog-p {
    font-size: 12px !important;
}

.feature-blogs-details form p {
    font-size: 14px !important;
}
.feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip {
    font-size: 12px !important;
}

.feature-blogs-details article .floated-slideshow {
    width: 40% !important;
    margin: 0 !important;
}
}



/*-----blog-test page----------*/

.blog-test-postcards .connect-postcard-single{
       background: #fff; 
    }
    
.blog-listing-cards .fusion-grid {
    padding: 20px;
    gap: 35px;
}

@media(max-width:1440px){
   .blog-listing-cards .fusion-grid {
    gap: 36px;
}

}

.blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card, .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column{
    width: 31%;
}
.feature-blogs-details .fusion-recent-posts .columns {
    background: white;
    height: 563px;
}
.not-mac .feature-blogs-details .fusion-recent-posts .columns {
    height: 566px;
}
.not-mac .feature-blogs-details .fusion-text{
    padding-top: 13px;
}
  @media(max-width:1680px){
  .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card, .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column{
   width: 31%;
      }
      .not-mac .feature-blogs-details .fusion-recent-posts .columns {
    height: 518px;
}
  }
@media(max-width:1440px){
 .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card, .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column{
   width: 30%;
      }
  }
  .blogContentList1 .form-title-blog-h{
        margin-block: -12px;
    }

/* Apply styles only to Windows/Linux or other non-Mac devices */
.not-mac .blogContentList1 .form-title-blog-h {
  margin-block: -15px;
}



.blog-listing-cards .pagination .pagination-prev{
    color: #000;
    border-radius: 5px;
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 6px 23px;
    font-family: 'Gilroy-bold';
    font-size: 20px;
}

.blog-listing-sect .pagination .pagination-prev:hover {
    color: #198FD9;
}

 .blog-listing-sect .pagination .pagination-next{
    color: #000;
    border-radius: 5px;
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 6px 23px;
    font-family: 'Gilroy-bold';
    font-size: 20px;
}

 .blog-listing-sect .pagination .pagination-next:hover {
    color: #198FD9;
}

.blog-listing-sect .pagination-next:after{
    display:none;
    /*    color: #000;*/
    /*border-radius: 5px;*/
    /*background: #fff;*/
    /*outline: none;*/
    /*border: none;*/
    /*margin-right: -13px;*/
    /*cursor: pointer;*/
    /*padding: 6px 10px;*/
    /*font-size: 20px;*/
} 

.blog-listing-sect .pagination-prev:before{
    display:none;
    /*color: white;*/
}


.feature-blogs-details .fusion-text {
    background: #F0F0F0;
    padding-left: 20px;
   padding-top: 16px !important;
}

@media(max-width:1440px){
    .feature-blogs-details .fusion-text {
    padding-top: 9px;
}
}




.feature-blogs-details .recent-post-title {
    background: #F0F0F0;
    padding-left: 20px;
    padding-top: 19px !important;
}

.feature-blogs-details .fusion-recent-posts {
    margin-bottom: 0;
}

 @media(max-width:1680px){
.feature-blogs-details .fusion-recent-posts {
    margin-bottom: 0;
}
.feature-blogs-details .wpcf7 {
    padding: 0px 20px 2px 20px;
}
}

 @media(max-width:1440px){
.feature-blogs-details .fusion-recent-posts {
    margin-bottom: 48px;
}
}

 @media(max-width:1280px){
.feature-blogs-details .fusion-recent-posts {
    margin-bottom: 47px;
}
}

 @media(max-width:1260px){
.feature-blogs-details .fusion-recent-posts {
    margin-bottom: 50px;
}
}

.blog-post-form-desc p:first-child{
    margin-bottom: 5px;
}


.feature-blogs-details .fusion-text-no-margin>p:last-child {
    margin-bottom: 6px;
}
 @media(max-width:1440px){
  .feature-blogs-details .fusion-text-no-margin>p:last-child {
    margin-bottom: 7px;
}
      }
      
       @media(max-width:1366px){
  .feature-blogs-details .fusion-text-no-margin>p:last-child {
    margin-bottom: 9px;
}
      }
      
    /*.feature-blogs-details .wpcf7-form .wpcf7-text{*/
    /*        height:30px!important;*/
    /*}*/
    
    .feature-blogs-details .wpcf7-form textarea {
        height: 60px!important;
    }
    
   .feature-blogs-details .wpcf7 input::placeholder,
.feature-blogs-details .wpcf7 textarea::placeholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.feature-blogs-details .recent-post-title{
    background: #fff;
}

.feature-blogs-details .wpcf7-form .wpcf7-submit {
    padding: 10px 23px;
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    border-radius: 5px;
}

@media(max-width:1680px){
   .feature-blogs-details .fusion-recent-posts .columns {
    background: white;
    height: 513px;
}
}

@media(max-width:1440px){
   .feature-blogs-details .fusion-recent-posts .columns {
    background: white;
    height: 470.5px;
}
 .blog-right-feature {
        height: 534.64px;
        margin-bottom: 0;
    }
    
     .blog-right-form{
         height: 534.64px;
    }
    
    .feature-blogs-details form p {
      margin-bottom:18.7px;
    }
    .not-mac .feature-blogs-details .fusion-recent-posts .columns {
    height: 473px;
}
.not-mac .blogContentList1 .form-title-blog-h{
    margin-block: -13px;
}
}
@media(max-width:1368px){
    .blog-right-feature {
        height: 520.64px;
        margin-bottom: 0;
    }
     .feature-blogs-details .fusion-recent-posts .columns {
    background: white;
    height: 459px;
}

.feature-blogs-details form p {
        margin-bottom: 18.5px;
    }
    .not-mac .feature-blogs-details .fusion-recent-posts .columns {
    height: 455px;
}
.not-mac .blogContentList1 .form-title-blog-h{
    margin-block: -16px;
}
.not-mac .feature-blogs-details .fusion-text{
    padding-top: 13px;
}
}

    @media(max-width:1024px){
   .blog-listing-sect .fusion-flex-container .fusion-row.fusion-flex-content-wrap {
        flex-direction: column;
    }
   
    .blog-listing-sect .fusion-flex-container .fusion-row .fusion-flex-column {
        width:100%;
    }
    
    .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card,  .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column {
        width: 100%!important;
    }
        
    .feature-blogs-details .fusion-recent-posts .columns {
             height:600px;
    }
    .blogContentList1 .fusion-builder-row{
        flex-direction: column;
    }
     .feature-blogs-details, .blog-listing-sect{
        width: 100%;
    }
    }
    
     @media(max-width:1366px){
  .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card, .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column{
   width: 30%;
      }
  }
  
 .feature-blogs-details{
     margin-top: 60px;
 }
  
@media(max-width:1440px){
  .feature-blogs-details{
     margin-top: 46px;
 }
  }
  
  @media(max-width:1366px){
  .feature-blogs-details{
     margin-top: 35px;
 }
  }
  
    @media(max-width:1280px){
  .feature-blogs-details{
     margin-top: 36px;
 }
  .not-mac .feature-blogs-details .fusion-recent-posts .columns {
    height: 448px;
}
.not-mac .blogContentList1 .form-title-blog-h{
    margin-block: -15px;
}
.not-mac .feature-blogs-details .fusion-text{
    padding-top: 10px;
}
  }
  
  
  .blog-listing-sect .fusion-filters li{
    background: #E2E2E2;
    width: fit-content;
    line-height: 1;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }
  .blog-listing-sect .fusion-filters li:hover a {
  color: #198fd9;
  cursor: pointer;
}

 .blog-listing-sect .fusion-filters .fusion-active{
      background: #fff;
 }

@media(max-width:600px){
   .blog-listing-sect .fusion-filters li{
    padding: 10px 10px ;
    margin: 1px ;
   }
}

.blog-listing-sect .fusion-post-cards .fusion-filters li a {
    border-top: unset;
}
  

/*-------------------------blog-test---ends------------*/
    
    

@media only screen and (max-width: 1440px) {
    .blogContentList1 {
        padding: 30px 60px 30px 70px ;
    }
}

@media only screen and (max-width: 1300px) {
    .blogContentList1 {
        padding: 30px 60px 30px 72px ;
    }
}

@media only screen and (max-width: 1440px) {
.feature-blogs-details .wpcf7 {
    background: #f0f0f0;
    padding: 0px 20px 4px 20px;
}
}

@media only screen and (max-width: 1280px) {
.feature-blogs-details .wpcf7 {
    background: #f0f0f0;
    padding: 5px 20px 4px 20px;
}
}

@media (max-width: 1280px) {
   .feature-blogs-details .fusion-recent-posts .columns {
        background: white;
        height: 447px;
    }
}

@media (min-width: 1601px) and (max-width: 1680px) {
.awb-menu .awb-menu__main-ul {
    font-size: 14px!important;
}
}

@media (max-width: 1680px) {
.feature-blogs-details .wpcf7-form textarea {
        height: 71px!important;
    }
    
  .feature-blogs-details .wpcf7-form .wpcf7-text {
    margin-bottom: 0px;
    height: 37px;
}
}

@media (max-width: 1440px) {
  .feature-blogs-details .wpcf7-form .wpcf7-text {
    margin-bottom: 0px;
    height: 35px;
}
}

@media (max-width: 1440px) {
    .feature-blogs-details .wpcf7-form textarea {
        height: 48px !important;
    }
}

@media (max-width: 1920px) {
    .blog-listing-cards .fusion-grid {
        padding-right: 5px;
    }
}

@media (max-width: 1680px) {
    .blog-listing-cards .fusion-grid {
        padding-right: 20px;
    }
}

@media (max-width: 1440px) {
.blog-listing-cards .fusion-grid {
        padding-right: 0px;
}
}

@media (max-width: 1366px) {
.blog-listing-cards .fusion-grid {
        padding-right: 7px;
}
}

@media (max-width: 1366px) {
  .feature-blogs-details .wpcf7 input::placeholder,
.feature-blogs-details .wpcf7 textarea::placeholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
}

@media (max-width: 1366px) {
    .feature-blogs-details .wpcf7-form .wpcf7-text {
        margin-bottom: 0px;
        height: 31px;
    }
    
     .feature-blogs-details .wpcf7-form textarea {
        height: 58px !important;
    }
}

@media (max-width: 1280px) {
    .feature-blogs-details .wpcf7-form .wpcf7-text {
        margin-bottom: 0px;
        height: 28px;
    }
    
      .feature-blogs-details .wpcf7-form textarea {
        height: 62px !important;
    }
}


@media (max-width: 1280px) {
    .blog-listing-cards .fusion-grid {
        padding-right: 10px;
    }
}

/* Abhi css for blog test page start  */

#main .blogContentList1 .feature-blogs-details .wpcf7{
    padding: 0px 20px 3px 20px;
}

 @media (max-width: 1440px) {
.blog-post-form-desc p {
    font-size: 12px!important;
    margin-bottom: 5px!important;
}
#main .blogContentList1 .feature-blogs-details .wpcf7{
    padding: 0px 20px 5px 20px;
}
}

  @media (max-width: 1366px) {
.blog-post-form-desc p {
    font-size: 12px!important;
    margin-bottom: 5px!important;
}

.blog-post-form-desc  {
    padding-top:0px!important;
}
}

 @media (max-width: 1440px) {
.blog-listing-sect .fusion-post-cards .fusion-filters li a {
    font-size: 20px;
    font-family: 'Gilroy-Bold';
    font-weight: 400;
}

.blog-listing-sect .fusion-filters li {
padding: 15px 25px;
}


}

@media (max-width: 1366px) {
    .blog-listing-sect .fusion-filters li {
        padding: 10px 25px;
    }
}

 @media (max-width: 1253px) {
.blog-listing-sect .fusion-post-cards .fusion-filters li a {
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    font-weight: 400;
}

.blog-listing-sect .fusion-filters li {
padding: 10px 25px;
}
}


@media(max-width: 1366px){
    .recent-post-title p{
        margin-bottom: 15px;
    }
}

@media (min-width:994px) and (max-width:1280px){
    .blog-listing-sect .fusion-post-cards .fusion-grid>.fusion-grid-column {
        padding-left: unset!important;
    }
}

@media (max-width: 1280px) {
    .fusion-recent-posts.layout-thumbnails-on-side .columns .column {
        margin-bottom: 15px;
    }
    #main .blog-right-feature{
        height: fit-content;
    }
    .feature-blogs-details .fusion-recent-posts{
        margin-bottom: 0;
    }
    #main .blogContentList1 .feature-blogs-details .wpcf7{
    padding: 0px 20px 7px 20px;
}
}

.blog-listing-sect .fusion-show-pagination-text #bbpress-forums .bbp-pagination-links, .blog-listing-sect .pagination {
    justify-content: left;
    margin-left: 17px;
}



#main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 47px;
}

@media (max-width: 1440px) {
#main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 48px;
}
}
@media (max-width: 1366px) {

.not-mac #main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 53px !important;
}
#main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 48px;
}
}

@media (max-width: 1280px) {
#main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 48px;
}
}
#main .blogContentList1 .feature-blogs-details .fusion-builder-nested-column-3{
    margin-bottom: 0;
}
.feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip{
    font-family: 'Gilroy-Medium';
    /* bottom: -30px; */
}
.blogContentList1 button.fusion-load-more-button.fusion-product-button.fusion-clearfix{
        position: relative;
    left: 0;
    right: 0;
    margin-inline: auto;
        left: -50%;
    transform: translateX(50%);
}
@media (max-width: 600px){
    #main .blogContentList1 .feature-blogs-details .fusion-row{
    gap: 15px  !important;
}
.feature-blogs-details .fusion-text{
    font-size: 20px !important;
}
.feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip{
    bottom: -33px;

}
.blog-right-form{
    height: fit-content;
}
.feature-blogs-details .wpcf7-form .wpcf7-text{
    height: 40px;
    padding-bottom: 3px;
}
.feature-blogs-details .wpcf7-form .wpcf7-submit{
    margin-bottom: -7px;
}
.blog-list-title-bnr .fusion-title-heading{
    position: relative;
    top: -70px;
}
}

/* ipad for blog details page and blog listing page  */

@media (min-width: 768px) and (max-width: 1024px) {
     .page-id-11094  .post-content .blogBlockWrapper {
        padding-left: 50px !important;
    }
        .feature-blogs-details .fusion-column-wrapper {
        padding-top: 0;
        padding-left:12px;
        padding-right: 7px;
    }
    
        .blog-listing-sect .fusion-post-cards .fusion-filters {
        display: flex !important;
        gap: 5px;
    }
    .feature-blogs-details article .floated-slideshow {
        flex: 0 0 13%;
    }
      .feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip {
            bottom: -26px;
            font-size: 12px;
        }
    .feature-blogs-details .wpcf7-form p:nth-of-type(7) .wpcf7-not-valid-tip {
            bottom: -44px;
        }
       .feature-blogs-details .fusion-recent-posts .columns {
            height: fit-content;
            }
        .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card, .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column{
            width: 48% !important;
            }
         .feature-blogs-details .fusion-column-wrapper{
                padding-top: 0;
            }
       .blogBlockWrapper .fusion-column-wrapper{
        padding-block: 50px;
      }
      .single-blog-column-c{
        width: 100%;
      }
      .blog-author{
        width: 100%;
      }
      .blog-details-sidebar-recent {
        width: 100%;
      }
      .type-post .post-content p, .post-content tr td, .single-blog-column-c li {
        font-size: 14px !important;
    }
    .blog-table-content ol li a {
        font-size: 14px;
    }
} 

@media (min-width: 768px) and (max-width: 990px) {
    .feature-blogs-details .fusion-column-wrapper {
        padding-left:10px;
    }
    
  .blog-listing-sect .fusion-post-cards .fusion_builder_column.post-card,
  .blog-listing-sect .fusion-post-cards-grid-column.fusion_builder_column {
    width: 47% !important;
  }
}




 @media(max-width:1440px){
 .blog-list-title-bnr h1 p{
  font-size: 34px!important;
  }
  
  .blogBlockWrapper{
      padding-left: 70px;
  }
  }
  
 .feature-blogs-details .fusion-recent-posts .columns .column .meta {
      margin-bottom: 3px;
  }
  
  .fusion-post-cards .fusion-grid>.fusion-grid-column {
      padding-top: 0;
      padding-bottom:0;
  }
  
  @media(max-width:1440px){
     .fusion-recent-posts.layout-thumbnails-on-side .columns .column {
    margin-bottom: 17px;
}
  }
  
    @media(max-width:1366px){
     .fusion-recent-posts.layout-thumbnails-on-side .columns .column {
    margin-bottom: 10px;
}
}


.blog-listing-cards .fusion-filters {
    border-top: unset;
    border-bottom: unset;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .blog-meta-date .fusion-tb-categories{
    font-family: 'Gilroy-Bold';
}


/* Abhi css for blog test page end */


/*@media screen and (max-width: 1574px) and (min-width: 1300px) {*/
/*    #main .blog-test-postcards .connect-blog-title {*/
        /*min-height: unset;*/
/*        margin-bottom: unset;*/
/*        padding-bottom: 10px;*/
/*    }*/
/*}*/
/*#main .blog-test-postcards .connect-blog-title {*/
/*    min-height: 50px;*/
/*}*/


.feature-blogs-details .wpcf7-form textarea {
    border-color: #f2f3f5;
}


.blog-listing-sect .fusion-post-cards .fusion-load-more-button{
    background-color: #fff !important;
}
.blog-listing-sect .fusion-post-cards .fusion-load-more-button:hover{
background-color: #198FD9 !important;
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
     #main .blog-test-postcards .connect-blog-title  {
        font-size: 20px !important;
    }
}

.recent-posts-content h4{
	 display: -webkit-box;           
	-webkit-line-clamp: 2;          
	-webkit-box-orient: vertical;    
	overflow: hidden;               
	text-overflow: ellipsis;         
	white-space: normal;             
	word-wrap: break-word;          
	line-height: 1.25;   
	font-family: 'Gilroy-Bold';
	font-size:16px;
}


.blog-listing-sect .fusion-filters li {
    cursor: unset;
}

.blog-listing-sect .fusion-filters li a{
    cursor: pointer;
}

@media (max-width: 600px) {
    .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column .meta{
        margin-bottom: 10px;
    }
     .feature-blogs-details .fusion-text {
        padding-top: 14px !important;
    }
    .feature-blogs-details .wpcf7-form p:nth-of-type(7) .wpcf7-not-valid-tip {
        bottom: -43px;
    }
    .not-mac #main .blogContentList1 .feature-blogs-details .fusion-row {
        gap: 15px !important;
    }
}
.blog-right-form .wpcf7 .wpcf7-form.sent .wpcf7-response-output{
    display:none;
}

.recent-posts-content h4 a:hover{
    color:#198fd9;
}

@media (max-width: 1024px) {
    .not-mac .feature-blogs-details .fusion-recent-posts .columns {
        height: fit-content;
    }
}



/* Blog listing page css END */