

/* Blog listing page css */


.feature-blogs-details .wpcf7 {
          background: #f0f0f0;
    padding: 0px 20px 0px 20px;
  }
  
.form-title-blog{
      background: #f0f0f0;
      padding: 0 20px;
      margin-block: -12px;

}
.form-title-blog-h{
    padding-top:20px;
}

@media(max-width:1440px){
    .form-title-blog-h {
    padding-top: 10px;
}

}



.form-title-blog-p{
    padding-bottom:5px;
}
.feature-blogs-details form p{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Gilroy-semiBold';
    font-weight: 400;
 }

.blog-listing-sect  .fusion-button[data-hover=underline] .fusion-button-text {
    position: relative;
    display: flex;
    padding: 10px 20px;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--CTA-Color, #198FD9);
} 

.blog-listing-sect .fusion-button[data-hover="underline"]:hover .fusion-button-text {
    background: #196fa4;
}

.blog-listing-sect .fusion-post-cards .fusion-filters {
font-weight: 600;
font-style: Gilroy-Bold;
padding-left:20px;
}

  .blog-list-title-bnr{
   font-family:Gilroy-Bold;
  }
  
 
  
  @media (max-width: 768px) {
    .form-title-blog{
        font-size:22px;
  }
  }
  
  .feature-blogs-details .fusion-recent-posts .recent-posts-content {
      display:flex;
     flex-direction: column;
     flex:1;
  }
    .feature-blogs-details .fusion-recent-posts .recent-posts-content p{
        font-family: Gilroy-Medium;
         display: -webkit-box;
      -webkit-line-clamp: 2;   /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    
    @media(max-width:1680px){
        .feature-blogs-details .fusion-recent-posts .recent-posts-content p{
          margin-bottom: 7px;  
        }
        #main .blogContentList1 .feature-blogs-details .wpcf7{
    padding: 0px 20px 0px 20px;
}
    }
  
  .feature-blogs-details .fusion-recent-posts .columns .column .entry-title {
      order:2;
      font-family: 'Gilroy-bold';
      font-weight: 400;
       display: -webkit-box;
      -webkit-line-clamp: 2;   /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  } 
  
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column .meta {
    order:1;
    line-height: 1;
}
  
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p {
    /*margin-left: 160px;*/
    order:3;
    font-weight: 400;
    line-height: normal;
}
   .feature-blogs-details .fusion-recent-posts.layout-thumbnails-on-side .columns .column p span{
       color: #00000080;
       font-family: 'Gilroy-Regular';
   }
    .feature-blogs-details .form-title-blog .post-content p{
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Gilroy-bold';
    font-weight: 400;
}
 .feature-blogs-details .wpcf7-form p:nth-of-type(7) .wpcf7-not-valid-tip{
     bottom:-50px;
 }
 .feature-blogs-details .wpcf7-form .wpcf7-submit{
     margin-top:10px;
 }
 
  @media(max-width:1253px){
     .feature-blogs-details .wpcf7-form .wpcf7-submit{
     margin-top:0px;
 }
  }

  @media(max-width:650px){
    .feature-blogs-details.fusion-recent-posts.layout-thumbnails-on-side .columns .column p {
        margin-left: unset;
    }
  }
  
  
  .blog-listing-sect .pagination .current{
      border-radius: 5px; 
      background:  #198FD9;
      outline: none;
      border: none;
      cursor:pointer;
      padding: 20px 23px;
      font-size: 20px;
      font-family: 'Gilroy-bold';
  }
  
   .blog-listing-sect .pagination .current:hover {
    background: #196fa4;
      cursor:pointer;
}

  .blog-listing-sect .pagination .inactive{
     border-radius: 5px;
     background: white;
     padding: 20px 23px;
     font-size: 20px;
     font-family: 'Gilroy-bold';
 }
 
  .blog-listing-sect .pagination .inactive.current:hover {
     border-radius: 5px;
 }
 
 .blog-listing-sect div.fusion-meta-tb span.fusion-tb-categories{
    border-radius: 30px;
    line-height: 1;
    background: #F0F0F0;
    border:none;
    width: fit-content;
    padding: 10px 15px;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    font-weight: 400;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-meta-tb span {
    font-family: 'Gilroy-Bold';
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .blog-meta-date span{
    font-family: 'Gilroy-Regular';
    padding-bottom:10px;
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
    font-family: 'Gilroy-Regular';
    font-size:20px;
    line-height:1.4;
    /*padding-top:10px;*/
    font-weight:500;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width:650px){
    .blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .postcard-blog-listing p {
          -webkit-line-clamp: 4;
    }
}

@media(max-width:1680px){
   
}
.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-meta-tb {
    border: none;
    padding-top:10px;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper a .fusion-button-text {
      font-family: 'Gilroy-bold';
      font-weight:400;
}

.blog-listing-sect .fusion-post-cards ul li .fusion-column-wrapper .fusion-title{
    padding-bottom: 5px;
  
}

 .blog-listing-sect .postcard-blog-title{
    font-family: Gilroy-Bold;
    margin: 0px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400!important;
    min-height: 50px;
    display: -webkit-box;
  -webkit-line-clamp: 2;  /* Clamp to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-listing-sect .fusion-post-cards ul li .wp-post-image{
    width: 100% !important;
}

.feature-blogs-details .wpcf7-form.invalid .wpcf7-response-output{
     display:none;
 }
 
 
/*.feature-blogs-details .flexslider .slides img {*/
/*    width: 120px;*/
/*}*/
 
 .feature-blogs-details .wpcf7-form .wpcf7-not-valid-tip {
     position: absolute;
    left: 0;
    bottom: -37px;
    font-size: 14px;
 }
 
 .feature-blogs-details .wpcf7-form .wpcf7-text {
     margin-bottom:0px ;
     height: 47px;
 }
.feature-blogs-details .wpcf7-form textarea{
     margin-bottom:0px ;
     
}
.feature-blogs-details article .floated-slideshow {
   width: 100% !important;
    margin: 0 !important;
    flex: 0 0 25%;
}
.feature-blogs-details article{
    display: flex;
    gap:30px;
}

.blog-listing-sect .fusion-filters{
    margin-bottom: 40px;
    margin-top: 0;
}

.blog-listing-sect .fusion-post-cards .fusion-filters li a{
    font-size:24px;
     font-family:'Gilroy-Bold';
     font-weight: 400;
}

@media(max-width:650px){
    .blog-listing-sect .fusion-post-cards .fusion-filters li a{
    font-size:20px;
   
}
}


.blog-listing-sect .fusion-title .fusion-title-heading{
      min-height: 50px;
    display: -webkit-box;
  -webkit-line-clamp: 2;  /* Clamp to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.blog-listing-sect .fusion-show-pagination-text #bbpress-forums .bbp-pagination-links, .blog-listing-sect .pagination {
    /*align-items: center;*/
    justify-content: left;
     margin-left: 17px;
}
@media(max-width:650px){
   .blog-listing-sect .fusion-show-pagination-text #bbpress-forums .bbp-pagination-links, .fusion-show-pagination-text .pagination {
    align-items: center;
    justify-content: center!important;
    
}
   
}
    
@media(max-width:414px){
   .blog-listing-sect .fusion-title .fusion-title-heading{
      min-height: 40px;
    }
    
    .moulding-content .fusion-column-wrapper .epp-content-banner-2 p {
        margin-bottom:40px;
    }
}



/* Blog listing page css END */

